* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fcfae2;
  }
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  /* ----------------------NAVBAR ----------------------*/
  .navbar {
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding: 12px;
  }
  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
  .navbar-left ul,
  .navbar-right ul {
    display: flex;
    list-style-type: none;
  }
  .navbar-left ul li,
  .navbar-right ul li {
    margin: 0 15px;
  }
  .navbar-center img {
    display: block;
    margin: 0px auto;
    padding: 0px 5px;
  }
  .navbar-center h1 {
    align-items: center;
    font-size: 20px;
    margin-top: 0px;
    padding-bottom: 35px;
  }
  a {
    text-decoration: none;
    color: #555;
    font-size: 20px;
  }
  a:hover {
    color: rgb(179, 50, 211);
  }
  /* POSTER */
  .poster {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .poster .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 70px;
    margin: 70px;
  }
  .tilted-box {
    position: absolute;
    width: 65%;
    height: 65%;
    background-color: #e6e6fa;
    transform: rotate(-8deg);
    z-index: 1;
    top: 5%;
    left: -5%;
  }
  .poster img {
    width: 130%;
    height: 300px;
    max-width: 1500px;
    height: auto;
    object-fit: cover;
    position: relative;
    z-index: 2;
  }
  .poster-text {
    text-align: center;
    margin-top: 20px;
  }
  .title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    z-index: 3;
  }
  .poster p {
    padding-top: 50px;
    margin-top: 50px;
    font-size: 1.2rem;
    color: #666;
  }
  /*---------------------STATIONARY OPTIONS -----------------------------*/
  .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .row2 {
    display: flex;
    align-items: center;
    flex-wrap: flex;
    justify-content: space-around;
    padding-bottom: 50px;
  }
  .stationary-options {
    background: #fcfae2;
  }
  .stationary-options .title {
    padding-top: 20px;
    font-family: "Jacques Francois", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }
  h4 {
    color: #555;
    font-weight: normal;
    text-align: center;
  }
  .col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5;
    text-align: center;
  }
  .col-4 p {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  .stationary-options .col-4 {
    margin: 0 20px;
    background: #dce3e4;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(194, 66, 66, 0.1);
    transition: transform 0.5s;
  }
  .stationary-options .col-4 .img {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
  }
  .rating {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  .rating .fa {
    align-content: center;
    color: rgb(255, 255, 101);
  }
  .col-4:hover {
    transform: translateY(-5px);
  }